@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Disable scroll once drawer/modal is openned */
  body:has(.drawer-toggle:checked),
  body:has(.modal-toggle:checked) {
    overflow: hidden;
    height: 100vh;
  }
}
.navbar-desktop:hover .nav-item-desktop{
  color: #111;
}
.navbar-desktop:hover .icon-magnify,
.navbar-desktop:hover .icon-user,
.navbar-desktop:hover .icon-heart,
.navbar-desktop:hover .icon-cart{
  filter: invert(1);
}

.navbar-desktop:hover .indicator-item{
  background-color: #000;
  color: #fff;
}
.group:disabled .group-disabled\:animate-progress {
  animation: progress-frame ease normal
}

.dropdown-filter{
  border-radius: 0px 0px 8px 8px;
  background: #FFF;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}

@keyframes progress-frame {
  0% {
    --dot-progress: 0%
  }

  to {
    --dot-progress: 100%
  }
}